---

import { getCollection, type CollectionEntry } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';

type BlogPost = CollectionEntry<'blog'>;

const allPosts = await getCollection('blog');
const sortedPosts: BlogPost[] = allPosts.sort(
  (a: BlogPost, b: BlogPost) => b.data.pubDate.getTime() - a.data.pubDate.getTime()
);
---


<BaseLayout title="ブログ一覧">
  <Header slot="header" />

  <main class="blog-list">
    <h1>ブログ記事一覧</h1>
    <ul>
      {sortedPosts.map((post) => (
        <li>
          <a href={`${import.meta.env.BASE_URL}blog/${post.slug}`}>
            <h2>{post.data.title}</h2>
            <p>{post.data.pubDate.toLocaleDateString()}</p>
          </a>
        </li>
      ))}
    </ul>
  </main>

 
  <Footer slot="footer" />
</BaseLayout>
